[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pep8 = "*"
autopep8 = "*"
pylint = "*"
pylint-flask = "*"
dnspython = "*"
flask-pymongo = "*"
pycodestyle = "*"
pymongo = {extras = ["tls"], version = "*"}
cloudinary = "*"
flask-mail = "*"
flask-talisman = "*"
flask-seasurf = "*"
flask-paginate = "*"
playwright = "*"
pytest = "*"
pytest-playwright = "*"
pytest-xdist = "*"
pytest-base-url = "*"
pytest-forked = "*"
requests = "*"
certifi = "*"
urllib3 = "*"
websockets = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.9"
