/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*----- WEB FONT -----*/
/*
This CSS resource ("Millennium W03 Bd Extended", name added by me for clarification) incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers.
You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software.
Please contact Monotype with any questions regarding Web Fonts: http://www.fontshop.com
*/

@font-face {
    font-family: "Millennium W03 Bd Extended";
    src: url("../fonts/1296494/b9ecfdb8-e52f-40fc-9c62-29b79ab8ccdb.woff2") format("woff2"),
        url("../fonts/1296494/6b3c20d0-bd12-4384-aa3c-94ed1b253998.woff") format("woff");
    font-weight: 200;
    font-display: swap;
}

/*----- GENERAL STYLES -----*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Millennium W03 Bd Extended", sans-serif;
}

/*----- FOCUS, ACTIVE & HOVER EFFECTS -----*/
.navbar-item:hover,
.navbar-link:hover,
.navbar-burger:hover,
.user_action:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

:focus,
button:focus,
a.button:focus,
.button.form__button--bg-blue:focus,
.input:focus {
    outline: 3px solid #bbaa55;
}

.button.form__button--bg-orange:focus {
    outline: 3px solid #006699;
}

a.button.shadow:focus {
    color: #bbaa55;
}

.button:active,
a.button:active {
    -webkit-box-shadow: 0 5px #636363;
    box-shadow: 0 5px #636363;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

.pagination li.active {
    background-color: #bbaa55;
    padding: 3px;
}

/* found at https://www.proglobalbusinesssolutions.com/css-hover-effects/ under entry 10) Glowing Icon Hover Effect */
.form__select--hover:hover {
    color: #ffef0a;
    text-shadow: 0 0 5px #ffef0a;
}

.pagination li a:hover {
    color: #882211;
    -webkit-box-shadow: 0 0 5px #882211;
    box-shadow: 0 0 5px #882211;
}

/*----- TEXT EFFECTS -----*/
.heading__text--shadow {
    /* code from https://css-tricks.com/almanac/properties/t/text-shadow/ */
    color: #ccddff;
    text-shadow: 1px 0px 1px #882211, 0px 1px 1px #0a0a0a, 2px 1px 1px #882211, 1px 2px 1px #0a0a0a,
        3px 2px 1px #882211, 2px 3px 1px #0a0a0a, 4px 3px 1px #882211, 3px 4px 1px #0a0a0a,
        5px 4px 1px #882211, 4px 5px 1px #0a0a0a, 6px 5px 1px #882211, 5px 6px 1px #0a0a0a,
        7px 6px 1px #882211;
}

.heading__text--shadow-blue {
    /* code from https://css-tricks.com/almanac/properties/t/text-shadow/ */
    color: #ccddff;
    text-shadow: 0 1px 0 #4169e1, 0 2px 0 #0000ff, 0 3px 0 #0000cd, 0 4px 0 #00008b, 0 5px 0 #191970,
        0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.text__shadow--dark {
    text-shadow: 1px 1px 3px #292929;
}

.text__shadow--light {
    text-shadow: 1px 1px 2px #c0c0c0;
}

.text--color-light {
    color: #ccddff;
}

.text--color-orange {
    color: #882211;
}

.text--color-royalblue {
    color: #3366ff;
}

/*----- CONTAINERS -----*/
.hero_heading {
    color: #ccddff;
}

.hero_card {
    background-color: #3366cc;
}

.card__bg--light {
    background-color: #ccddff;
}

.text__bg--transparent-dark {
    background-color: rgba(0, 0, 0, 0.1);
}

.text_bg--transparent-darker {
    background-color: rgba(0, 0, 0, 0.4);
}

.pagination_bg--white {
    background-color: rgba(255, 255, 255, 0.6);
}

.card__bg--blue-dark {
    background-color: #000088;
}

.card__shadow {
    -webkit-box-shadow: 0px 8px 10px rgba(149, 157, 165, 1);
    box-shadow: 0px 8px 10px rgba(149, 157, 165, 1);
}

.card__border--groove {
    border: 4px groove #bbaa55;
}

.card__box-shadow {
    -webkit-box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
    box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
}

.card__box-shadow--blue {
    -webkit-box-shadow: 10px 12px 0.5rem rgba(0, 0, 136, 0.5);
    box-shadow: 10px 12px 0.5rem rgba(0, 0, 136, 0.5);
}

/*----- NAVBAR -----*/
.navbar_bg {
    background-color: #000088;
}

.navbar-item,
.navbar-link,
.navbar-burger,
.footer_copyright,
.footer {
    color: #000088;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #000088;
}

.navbar-dropdown {
    background-color: #fff;
}

/*----- TOOLTIP -----*/
/* code copied from https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;

    /* vertically center */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-left: 15px;

    /* basic styles */
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    color: #000088;
    text-align: center;
    z-index: 5;

    /* hide by default */
    display: none;
}

.tooltip:hover:before {
    display: block;
}

.pagination li a {
    font-size: 1.5rem;
}

/*----- BUTTONS -----*/
button,
.button {
    transition: all 0.3s ease-in-out;
}

#register-btn {
    border: 0.5rem ridge #ccddff;
}

.form__button--bg-orange {
    background-color: #882211;
}

.form__button--bg-blue {
    background-color: #3366ff;
}

/* created at https://neumorphism.io/#ffef0a */
a.button.shadow:hover {
    color: #ffef0a;
    border-radius: 0px;
    background: -o-linear-gradient(135deg, #00007a, #000092);
    background: linear-gradient(315deg, #00007a, #000092);
    -webkit-box-shadow: -7px -7px 14px #00003f, 7px 7px 14px #0000d1;
    box-shadow: -7px -7px 14px #00003f, 7px 7px 14px #0000d1;
}

.button.shadow-dark:hover {
    border-radius: 0px;
    -webkit-box-shadow: -7px -7px 14px #212020, 7px 7px 14px #3b3a3a;
    box-shadow: -7px -7px 14px #212020, 7px 7px 14px #3b3a3a;
    font-weight: bold;
}

/*----- LISTS -----*/
.ul__li--no-bullets {
    list-style-type: none;
}

.li__icon--book {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    vertical-align: middle;
}

/*----- BORDER -----*/
.user_action {
    outline: 3px solid #bbaa55;
    padding-bottom: 5px;
}

.border_down {
    outline: 3px 3px 10px solid #bbaa55;
}

/*----- FOOTER -----*/
.footer_padding--less {
    padding: 1rem 0.5rem 1rem;
}

/*----- PAGINATION -----*/

a.page-link,
span.page-link,
div.pagination-page-info {
    color: #000088;
}

.page-link.prev-page,
/* selector needs to be so specific or otherwise either the next-page arrow won't be affected or all pagination items will be affected */
li.page-item.next-page a.page-link {
    font-size: 2rem;
    font-weight: bold;
}

/*----- BACKGROUND IMAGES -----*/
.bg__img--starry-sky {
    background-image: url("https://res.cloudinary.com/psbgbp/image/upload/t_bg-image/v1636894433/ms3/bg/starry_sky.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
}

.bg__img--eclipse {
    background-image: url("../images/solar_eclipse_640px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.bg__img--shuttle {
    background-image: url("../images/shuttle_640px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 768px) {
    .bg__img--starry-sky {
        background-image: url("https://res.cloudinary.com/psbgbp/image/upload/t_bg-image/v1636894434/ms3/bg/starry_sky-2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_768px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_768px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}

@media screen and (min-width: 1024px) {
    .bg__img--starry-sky {
        background-image: url("https://res.cloudinary.com/psbgbp/image/upload/t_bg-image/v1636894434/ms3/bg/starry_sky-3.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1024px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1024px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}

@media screen and (min-width: 1366px) {
    .bg__img--starry-sky {
        background-image: url("https://res.cloudinary.com/psbgbp/image/upload/t_bg-image/v1636894435/ms3/bg/starry_sky-4.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1366px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1366px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}

@media screen and (min-width: 1600px) {
    .bg__img--starry-sky {
        background-image: url("https://res.cloudinary.com/psbgbp/image/upload/t_bg-image/v1636894434/ms3/bg/starry_sky-5.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1600px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1600px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .bg__img--starry-sky {
        background-image: url("https://res.cloudinary.com/psbgbp/image/upload/t_bg-image/v1636894436/ms3/bg/starry_sky-6.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1920px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1920px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}
