/*----- CUSTOM VARIABLES -----*/
:root {
    --color-navyblue: #000088;
    --color-trueblue: #3366cc;
    --color-periwinklecrayola: #ccddff;
    --padding: 2rem 1rem 2rem;
}
/*
This CSS resource ("Millennium W03 Bd Extended", name added my me for clarification) incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers.
You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software.
Please contact Monotype with any questions regarding Web Fonts: http://www.fontshop.com
*/

@font-face {
    font-family: "Millennium W03 Bd Extended", sans-serif;
    src: url("../fonts/1296494/b9ecfdb8-e52f-40fc-9c62-29b79ab8ccdb.woff2") format("woff2"),
        url("../fonts/1296494/6b3c20d0-bd12-4384-aa3c-94ed1b253998.woff") format("woff");
    font-weight: 200;
}

@font-face {
    font-family: "Okuda";
    src: url("../fonts/okuda-webfont.woff2") format("woff2"),
        url("../fonts/okuda-webfont.woff") format("woff");
}

/*----- GENERAL STYLES -----*/
body {
    font-family: "Millennium W03 Bd Extended", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Okuda", sans-serif;
}

/*----- TEXT EFFECTS -----*/
.heading__text--shadow {
    color: #ccddff;
    text-shadow: 1px 0px 1px #882211, 0px 1px 1px #0a0a0a, 2px 1px 1px #882211, 1px 2px 1px #0a0a0a,
        3px 2px 1px #882211, 2px 3px 1px #0a0a0a, 4px 3px 1px #882211, 3px 4px 1px #0a0a0a,
        5px 4px 1px #882211, 4px 5px 1px #0a0a0a, 6px 5px 1px #882211, 5px 6px 1px #0a0a0a,
        7px 6px 1px #882211;
}

.heading__text--shadow-blue {
    color: #ccddff;
    text-shadow: 0 1px 0 #4169e1, 0 2px 0 #0000ff, 0 3px 0 #0000cd, 0 4px 0 #00008b, 0 5px 0 #191970,
        0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
        0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
}

.text__shadow--dark {
    text-shadow: 1px 1px 3px #292929;
}

.text__shadow--light {
    text-shadow: 1px 1px 2px #c0c0c0;
}

.text--color-light {
    color: #ccddff;
}

.text--color-orange {
    color: #882211;
}

.text--color-royalblue {
    color: #3366ff;
}

/* found at https://www.proglobalbusinesssolutions.com/css-hover-effects/ under entry 10) Glowing Icon Hover Effect */
a.button:hover,
.form__select--hover:hover {
    color: #ffef0a;
    box-shadow: 0 0 5px #ffef0a;
    text-shadow: 0 0 5px #ffef0a;
}

/*----- TOOLTIP -----*/
.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-left: 15px;

    /* basic styles */
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    color: #000088;
    text-align: center;
    z-index: 5;

    display: none; /* hide by default */
}

.tooltip:hover:before {
    display: block;
}

/*----- WRAPPER -----*/
.page_wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.content_wrapper {
    flex: 1;
}

/*----- NAVBAR -----*/
.navbar_bg {
    background-color: #000088;
}

.navbar-item,
.navbar-link,
.footer_copyright,
.footer_social {
    color: #ccddff;
}

.navbar-dropdown {
    background-color: #000088;
}

/*----- BUTTONS -----*/
.form__button--font-okuda {
    font-family: "Okuda", sans-serif;
}

/*----- LISTS -----*/
.ul__li--no-bullets {
    list-style-type: none;
}

.li__icon--book {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
    vertical-align: middle;
}

/*----- FOOTER -----*/
.footer_padding--less {
    padding: var(--padding);
}

/*----- CONTAINERS -----*/
.hero_heading {
    color: var(--color-periwinklecrayola);
}
.hero_bg {
    background-color: var(--color-navyblue);
    color: var(--color-periwinklecrayola);
}

.hero_card {
    background-color: var(--color-trueblue);
}

.card__bg--light {
    background-color: #ccddff;
}

.text__bg--transparent {
    background-color: rgba(255, 255, 255, 0.1);
}
.card__bg--blue-dark {
    background-color: #000088;
}

.card__shadow {
    -webkit-box-shadow: 0px 8px 10px rgba(149, 157, 165, 1);
    box-shadow: 0px 8px 10px rgba(149, 157, 165, 1);
}

.card__border--groove {
    border: 4px groove #bbaa55;
}

.card__box-shadow {
    box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
}

.card__box-shadow--blue {
    box-shadow: 10px 12px 0.5rem rgba(0, 0, 136, 0.5);
}

/*----- BACKGROUND IMAGES -----*/
.bg__img--starry-sky {
    background-image: url("../images/starry_sky_640px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg__img--eclipse {
    background-image: url("../images/solar_eclipse_640px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg__img--shuttle {
    background-image: url("../images/shuttle_640px.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 768px) {
    .bg__img--starry-sky {
        background-image: url("../images/starry_sky_768px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_768px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_768px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px) {
    .bg__img--starry-sky {
        background-image: url("../images/starry_sky_1024px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1024px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1024px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1366px) {
    .bg__img--starry-sky {
        background-image: url("../images/starry_sky_1366px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1366px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1366px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1600px) {
    .bg__img--starry-sky {
        background-image: url("../images/starry_sky_1600px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1600px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1600px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 1920px) {
    .bg__img--starry-sky {
        background-image: url("../images/starry_sky_1920px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--eclipse {
        background-image: url("../images/solar_eclipse_1920px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .bg__img--shuttle {
        background-image: url("../images/shuttle_1920px.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}
