{% extends "base.html" %}
{% block content %}

    <div class="hero is-fullheight is-flex is-justify-content-center is-align-content-center bg__img--eclipse text__bg--transparent-dark">
        <div class="hero-head mt-4">
            <div class="container bg__text--center-align">
                <h1 class="title is-1 has-text-centered my-4 heading__text--shadow">404</h1>
                    <p class="has-text-centered is-size-3 my-4 mx-2 text--color-orange">
                        Oh no, another visitor who got lost!
                    </p>
                    <p class="has-text-centered is-size-3 my-4 mx-2 text--color-orange">
                        We're sorry!
                    </p>
                    <p class="has-text-centered is-size-3 my-4 mx-2 text--color-orange" >
                        Q keeps transporting our visitors to non-existing pages!
                    </p>
                    <p class="has-text-centered is-size-3 my-4 mx-2 text--color-orange">
                    Let's beam you back <a href="{{ url_for('index') }}">home</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/hideOnErrorPages.js') }}"></script>
{% endblock %}