{% extends "base.html" %}
{% block content %}

<div class="hero is-fullheight is-flex is-justify-content-center is-align-content-center bg__img--shuttle text__bg--transparent-dark">
    <div class="hero-head">
        <div class="container">
            <h1 class="title is-1 has-text-centered my-4 heading__text--shadow">500</h1>
                <p class="has-text-centered has-text-white is-size-3 my-3 mx-2">
                    <span class="text__bg--transparent">Incoming message from Engineering:</span>
                </p>
                <p class="has-text-centered has-text-white is-size-3 my-3 mx-2">
                <span class="text__bg--transparent">We can't fullfill your request at this time!</span>
                </p>
                <p class="has-text-centered has-text-white is-size-3 my-3 mx-2">
                    <span class="text__bg--transparent">We're givin' it all she's got, Captain!</span>
                </p>
                <p class="has-text-centered has-text-white is-size-3 my-3 mx-2">
                    <span class="text__bg--transparent">If we push it any farther, the whole thing'll blow!</span>
                </p>
                <p class="has-text-centered has-text-white is-size-3 my-3 mx-2">
                    <span class="text__bg--transparent">Take shuttle <a class="text--color-royalblue" href="{{ url_for('index') }}">home</a></span>
                </p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/hideOnErrorPages.js') }}" defer></script>
{% endblock %}