{% extends "base.html" %}
{% block content %}

<div class="container my-5 pt-5">
    <h1 class="title is-1 has-text-centered mt-5 heading__text--shadow">500</h1>
    <div class="columns">
        <div class="column">
            <p class="has-text-centered is-size-3">
                Incoming message from Engineering:
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p class="has-text-centered is-size-3">
                We can't fullfill your request at this time!
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p class="has-text-centered is-size-3">
                We're givin' it all she's got, Captain!
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p class="has-text-centered is-size-3">
                If we push it any farther, the whole thing'll blow!
            </p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p class="has-text-centered is-size-3">
                Take shuttle <a href="{{ url_for('index') }}">home</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}