{% extends "base.html.jinja" %}
{% block content %}

    <section class="hero is-fullheight-with-navbar text--color-light bg__img--starry-sky text__bg--transparent-dark">
        <div class="hero-body">
            <div class="container  text_bg--transparent-darker p-3">
                <h1 class="title is-1 has-text-centered has-text-weight-light heading__text--shadow">Hello, {{ username.capitalize() }} </h1>

                <form class="form p-4" method="POST" action="{{ url_for('add_book') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-white has-text-weight-normal" for="new_book_title">Book title</label>
                                <div class="control">
                                    <input id="new_book_title" name="new_book_title" class="input is-size-4" type="text" placeholder="Enter book title"
                                        value="" aria-label="new_book_title" autofocus required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-white has-text-weight-normal" for="new_book_series_code">Series code
                                    <span id="series_code-help" class="tooltip has-background-white-bis" aria-live="assertive" data-text="3 - 5 alphanumerical characters">
                                        <i class="far fa-fw fa-info-circle has-text-link "></i>
                                    </span>
                                </label>
                                <div class="control">
                                    <input id="new_book_series_code" name="new_book_series_code" class="input is-size-4" type="text" minlength="3"
                                    maxlength="5" pattern="^[a-zA-Z0-9]{3,5}$" placeholder="Enter series code"
                                        value="" aria-label="new_book_series_code" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-white has-text-weight-normal" for="new_book_number">Number
                                    <span id="book-number-help" class="tooltip has-background-white-bis" aria-live="assertive" data-text="0 - 3 numbers, leave empty for unnumbered books">
                                        <i class="far fa-fw fa-info-circle has-text-link "></i>
                                    </span>
                                </label>
                                <div class="control">
                                    <input id="new_book_number" name="new_book_number" class="input is-size-4" type="number"  minlength="0"
                                    maxlength="3" pattern="^[0-9]{0,3}$" placeholder="Enter book number"
                                        value="" aria-label="new_book_number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <p class="is-size-3 has-text-white has-text-weight-normal">Available as ebook?</p>
                                        <label class="radio is-size-4 has-text-white has-text-weight-normal form__select--hover">
                                            <input type="radio" id="new_book_e_book" name="new_book_e_book" aria-label="new_book_e_book" required>
                                            Yes
                                        </label>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <p class="is-size-3 has-text-white has-text-weight-normal">Available as paperback?</p>
                                        <label class="radio is-size-4 has-text-white has-text-weight-normal form__select--hover">
                                            <input type="radio" id="new_book_paper_book" name="new_book_paper_book" aria-label="new_book_paper_book">
                                            Yes
                                        </label>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <p class="is-size-3 has-text-white has-text-weight-normal">Available as audiobook?</p>
                                        <label class="radio is-size-4 has-text-white has-text-weight-normal form__select--hover">
                                            <input type="radio" id="new_book_audio_book" name="new_book_audio_book" aria-label="new_book_audio_book">
                                            Yes
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <p class="is-size-3 has-text-white has-text-weight-normal">Part of mini-series?</p>
                                        <label class="radio is-size-4 has-text-white has-text-weight-normal form__select--hover">
                                            <input type="radio" id="new_book_mini_series" name="new_book_mini_series" aria-label="new_book_mini_series">
                                            Yes
                                        </label>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-white has-text-weight-normal" for="new_book_mini_series_number">Number in mini-series
                                    <span id="miniseries-number-help" class="tooltip has-background-white-bis" aria-live="assertive" data-text="0 - 2 digits, leave empty if not part of mini-series">
                                        <i class="far fa-fw fa-info-circle has-text-link "></i>
                                    </span>
                                </label>
                                <div class="control">
                                    <input id="new_book_mini_series_number" name="new_book_mini_series_number" class="input is-size-4" type="number"  minlength="0"
                                    maxlength="2" pattern="^[0-9]{0,2}$" placeholder="Enter number in series as digit"
                                        value="" aria-label="new_book_mini_series_number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-white has-text-weight-normal" for="new_book_blurb">Description / blurb (required)</label>
                                <div class="control">
                                    <textarea id="new_book_blurb" name="new_book_blurb" class="textarea is-medium mb-4"
                                        placeholder="Add blurb here" rows="10" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-white has-text-weight-normal" for="new_book_timespan_start">Timespan start
                                    <span id="timespan-help" class="tooltip has-background-white-bis" aria-live="assertive" data-text="4 digits">
                                        <i class="far fa-fw fa-info-circle has-text-link text__bg--transparent"></i>
                                    </span>
                                </label>
                                <div class="control">
                                    <input id="new_book_timespan_start" name="new_book_timespan_start" class="input is-size-4" type="number"  minlength="4"
                                    maxlength="4" pattern="^[0-9]{4,4}$" placeholder="Enter 4-digit date for start of story, leave empty if information not available"
                                        value="" aria-label="new_book_timespan_start">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-white has-text-weight-normal" for="new_book_cover">Book cover
                                    <span id="cover-help" class="tooltip has-background-white-bis" aria-live="assertive" data-text="allowed formats: jpg, jpeg, gif, bmp, png, tiff or webp">
                                        <i class="far fa-fw fa-info-circle has-text-link text__bg--transparent"></i>
                                    </span>
                                </label>
                                <div class="control">
                                <!-- Credit for pattern: Tim Nelson @ https://github.com/TravelTimN/ci-milestone04-dcd/blob/main/app/templates/desserts_new.html -->
                                    <input id="new_book_cover" name="new_book_cover" class="input is-size-4" type="text" min="12"
                                        pattern="https?:\/\/.+(jpg|jpeg|gif|bmp|png|tiff|webp)" placeholder="Enter URL for book cover"
                                        value="" aria-label="new_book_cover" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <div class="control">
                                    <label class="is-size-3 has-text-white has-text-weight-normal">Status</label>
                                        <div class="select is-size-4 text--color-light has-text-weight-normal">
                                            <select name="new_book_status" id="new_book_status">
                                                <option label="Published" value="1">Published</option>
                                                <option label="Announced" value="2">Announced</option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="columns is-centered">
                        <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                            <div class="field is-grouped">
                                <div class="control">
                                    <input class="button shadow-dark form__button--bg-blue has-text-white" type="submit" value="Submit">
                                </div>
                                <div class="control">
                                    <button class="button shadow-dark form__button--bg-orange has-text-white" type="reset" value="Clear form">Clear form</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

{% endblock %}