{% extends "base.html" %}
{% block content %}

<section class="hero is-fullheight-with-navbar bg__img--starry-sky text__bg--transparent-dark">
    <div class="hero-body">
        <div class="container">
            <!-- Search bar -->
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content card__bg--light card__box-shadow">
                            <form class="form" method="POST" action="{{ url_for('search') }}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <div class="columns is-centered">
                                    <div class="column is-10-tablet is-8-desktop">
                                        <div class="field">
                                            <label for="query" class="is-size-4 has-text-weight-normal mr-2">Search titles and blurbs
                                            </label>
                                            <div class="control has-icons-left">
                                                <input id="query" name="query" class="input is-link  mb-2" type="text" minlength="3"
                                                    placeholder="Enter query" value=""
                                                    aria-label="query" required>
                                                <span class="icon is-left has-text-link">
                                                    <i class="fal fa-lg fa-file-search"></i>
                                                </span>
                                            </div>
                                            <button class="button shadow-dark form__button--bg-blue has-text-white is-size-5 has-text-weight-normal" type="submit">Search
                                            </button>
                                            <a class="button shadow-dark form__button--bg-orange has-text-white ml-3 is-size-5 has-text-weight-normal" href="{{ url_for('all_books') }}">Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- pagination  -->
            <div class="columns is-centered is-multiline is-mobile">
                <div class="column is-10">
                    <div class="pagination-container my-5 is-size-4 has-text-centered ">
                        {% if books|length > 0 %}
                            <div class="columns is-centered is-multiline">
                                <div class="column is-10 has-text-centered has-background-white">
                                        {{ pagination.links }}
                                        {{ pagination.info }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- All books sorted by title or search result -->
            {% if books|length > 0 %}
                <div class="columns is-centered is-multiline">
                    <div class="column">
                        <h1 class="title is-2 has-text-centered has-text-weight-light hero_heading heading__text--shadow">Books sorted by title</h1>
                    </div>
                </div>
            <div class="columns is-centered is-multiline">
                    {% for book in books|sort(attribute="title") %}
                    <div class="column is-6-tablet is-6-desktop my-2">
                        <div class="card card__box-shadow">
                            <div class="columns is-mobile">
                                <div class="column is-6 is-offset-3">
                                    <div class="card-image card__box-shadow--blue">
                                        <figure class="image is-2by3 has-background-primary-dark mt-3">
                                            <img src="{{ book.cover }}" alt="Book cover for {{ book.title }}">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content card__bg--light">
                                <h2 class="subtitle is-3 has-text-centered has-text-weight-light text__shadow--light">{{ book.series_code }}: {{ book.title }}</h2>
                                    {% if book.number == "" %}
                                        <h3 class="subtitle is-4 has-text-centered">Unnumbered book</h3>
                                    {% elif not book.number == "null" %}
                                        <h3 class="subtitle is-4 has-text-centered">Book number {{book.number}}</h3>
                                    <!-- remove? -->
                                    {% else %}
                                        <h3 class="subtitle is-4 has-text-centered">Unnumbered book</h3>
                                    {% endif %}
                                <div class="book-list__info is-size-4">
                                    <ul>
                                        <li>
                                            {% if book.e_book %}
                                                <span class="icon has-text-success ml-2">
                                                    <i class="fas fa-fw fa-check-square"></i>
                                                </span>
                                            {% else %}
                                                <span class="icon has-text-danger ml-2">
                                                    <i class="fas fa-fw fa-times-square"></i>
                                                </span>
                                            {% endif %}
                                            ebook
                                        </li>
                                        <li>
                                            {% if book.paper_book %}
                                                <span class="icon has-text-success ml-2">
                                                    <i class="fas fa-fw fa-check-square"></i>
                                                </span>
                                            {% else %}
                                                <span class="icon has-text-danger ml-2">
                                                    <i class="fas fa-fw fa-times-square"></i>
                                                </span>
                                            {% endif %}
                                            paperback
                                        </li>
                                        <li>
                                            {% if book.audio_book %}
                                                <span class="icon has-text-success ml-2">
                                                    <i class="fas fa-fw fa-check-square"></i>
                                                </span>
                                            {% else %}
                                                <span class="icon has-text-danger ml-2">
                                                    <i class="fas fa-fw fa-times-square"></i>
                                                </span>
                                            {% endif %}
                                            audiobook
                                        </li>
                                        <li>
                                            {% if book.part_of_mini_series %}
                                                <span class="icon has-text-success ml-2">
                                                    <i class="fas fa-fw fa-check-square"></i>
                                                </span>
                                            {% else %}
                                                <span class="icon has-text-danger ml-2">
                                                    <i class="fas fa-fw fa-times-square"></i>
                                                </span>
                                            {% endif %}
                                            part of miniseries
                                        </li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="content is-size-4 mt-2">
                                    <details>
                                        <summary>Blurb for <span class="has-text-weight-medium">{{ book.title }}</span></summary>
                                        <p>{{ book.blurb }}</p>
                                    </details>
                                </div>
                            </div>
                            <!-- Buttons for user actions, display only for logged in users -->
                            {% if session.user %}
                                <footer class="card-footer has-background-link-dark py-4">
                                    <div class="buttons mx-auto">
                                        <div class="columns is-multiline is-mobile mx-auto">
                                            <div class="column is-narrow-tablet">
                                                <div class="control">
                                                    <a class="button shadow card__bg--blue-dark text--color-light"
                                                        href="{{ url_for('add_book_to_favs', book_id=book._id) }}">Add to
                                                        Favourites</a>
                                                </div>
                                            </div>
                                            <div class="column is-narrow-tablet">
                                                <div class="control">
                                                    <a class="button shadow card__bg--blue-dark text--color-light" href="{{ url_for('mark_book_as_finished', book_id=book._id) }}">Finished</a>
                                                </div>
                                            </div>
                                            <div class="column is-narrow-tablet">
                                                <div class="control">
                                                    <a class="button shadow card__bg--blue-dark text--color-light" href="{{ url_for('add_book_to_wishlist', book_id=book._id) }}">Add to wish list</a>
                                                </div>
                                            </div>
                                            <div class="column is-narrow-tablet">
                                                <div class="control">
                                                    <a class="button shadow card__bg--blue-dark text--color-light"
                                                        href="{{ url_for('add_review', title=book.title) }}">Add review</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            {% endif %}
                        </div> <!-- card -->
                    </div> <!-- column book -->
                    {% endfor %}
                {% else %}
                    <article id="no-result-message" class="message is-link">
                        <div class="message-header">
                            <p>LCARS return:</p>
                            <button id="no-result" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body has-text-weight-medium">
                            No results found in our memory banks! Click 'Reset' to return to the previous page.
                        </div>
                    </article>
                {% endif %}
                <!-- don't move! -->
            </div> <!-- columns book -->
            <!-- pagination  -->
            <div class="columns is-centered is-multiline is-mobile">
                <div class="column is-10">
                    <div class="pagination-container my-5 is-size-4 has-text-centered ">
                        {% if books|length > 0 %}
                            <div class="columns is-centered is-multiline">
                                <div class="column is-10 has-text-centered has-background-white">
                                        {{ pagination.links }}
                                        {{ pagination.info }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- hero body -->
</section> <!-- section hero -->
{% endblock %}