<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/83ff66539b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>ST-Archive</title>
</head>

<body class="has-navbar-fixed-top page_wrapper">

    <header>
        <nav class="navbar is-size-3 is-fixed-top navbar_bg">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('index') }}">
                        ST-Archive
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{{ url_for('index') }}">
                            Home
                        </a>
                        <a class="navbar-item" href="{{ url_for('register') }}">
                            Register
                        </a>
                        <a class="navbar-item" href="{{ url_for('login') }}">
                            Log in
                        </a>
                        <a class="navbar-item" href="{{ url_for('copyrights') }}">
                            Copyright
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="content_wrapper">
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="columns flashes my-5">
                        <div class="column">
                            <h3 class="title is-3 has-text-centered">{{ message }}</h3>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- need to add sections with different classes and containers in each template file!!! -->
    {% block content %}
    {% endblock %}
    </div>
    <footer class="footer navbar_bg footer_padding--less">
        <div class="level">
            <div class="level-left">
                <div class="level-item is-size-4">
                    &copy; Copyright 2021 - Scott Boening.
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="http://www.twitter.com/scottboening" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-lg fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only sr-only-focusable">Twitter</span>
                    </a>
                </div>
                <div class="level-item">
                    <a href="https://github.com/Ryagg" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-lg fa-github" aria-hidden="true"></i>
                        <span class="sr-only sr-only-focusable">Github profile</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!--
    <script src="{{ url_for('static', filename='js/mtiFontTrackingCode.js') }}"></script>
    -->
    {% block scripts %}
    {% endblock %}

</body>

</html>