<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Backend-dev milestone project about Star Trek novels for Code Institute's Diploma in Software Development">
    <meta name="keywords" content="Star Trek, Original Series, Next Generation, DS9, Voyager, Enterprise, Discovery, Picard">
    <meta name="author" content="Scott Boening">
    <script nonce="{{ csp_nonce() }}" src="https://kit.fontawesome.com/83ff66539b.js" crossorigin="anonymous" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>ST-Archive</title>
</head>

<body class="has-navbar-fixed-top">

    <header>
        <!-- Navbar -->
        <nav id="navbar" class="navbar is-size-5 is-fixed-top is-transparent">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('index') }}">
                        ST-Archive
                    </a>
                    <span id="navbar-burger" class="navbar-burger burger" data-target="navbarMenu" tabindex="0">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{ url_for('all_books') }}">
                            All Books
                        </a>
                        <!-- Dropdown with dynamic URLs -->
                        <div class="navbar-item has-dropdown is-hoverable" tabindex="0">
                            <a class="navbar-link">
                                    Series
                            </a>

                            <div class="navbar-dropdown is-boxed">
                                {% for show in series|sort(attribute="series_name") %}
                                    <a class="navbar-item is-size-5" href="{{ url_for('series', series_code=show._id) }}">
                                        {{ show.series_name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="navbar-item" href="{{ url_for('reviews') }}">
                            Reviews
                        </a>
                    </div>
                    <div class="navbar-end">

                        <!-- Dropdown with template logic -->
                        <div class="navbar-item has-dropdown is-hoverable" tabindex="0">
                            <a class="navbar-link">
                                Account
                            </a>
                            <div class="navbar-dropdown is-boxed">
                                {% if session.user %}
                                    <a class="navbar-item is-size-5"
                                        href="{{ url_for('profile', username=session['user']) }}">
                                        Profile
                                    </a>
                                {% if session.admin == True %}
                                    <a class="navbar-item is-size-5" href="{{ url_for('add_series') }}">
                                        Add series as admin
                                    </a>
                                    <a class="navbar-item is-size-5" href="{{ url_for('add_book') }}">
                                        Add book as admin
                                    </a>
                                {% endif %}
                                    <a class="navbar-item is-size-5" href="{{ url_for('logout') }}">
                                        Log Out
                                    </a>
                                {% else %}
                                    <a class="navbar-item is-size-5" href="{{ url_for('login') }}">
                                        Login
                                    </a>
                                    <a class="navbar-item is-size-5" href="{{ url_for('register') }}">
                                        Register
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <a class="navbar-item" href="{{ url_for('copyrights') }}">
                            Copyright
                        </a>
                        <a class="navbar-item" href="{{ url_for('contact') }}">
                            Contact
                        </a>
                        <!-- Searchbar -->
                        <div class="navbar-item">
                            <form class="form" method="POST" action="{{ url_for('search') }}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <input id="query" name="query" class="input is-small is-link" type="text" minlength="3"
                                                placeholder="Search titles + blurbs" value="" aria-label="query" required>
                                                <span class="icon is-left has-text-link">
                                                    <i class="fal fa-lg fa-file-search"></i>
                                                </span>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

        <section>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="columns is-multiline flashes">
                            <div class="column">
                                <article class="message is-large is-link card__box-shadow">
                                    <div class="message-body has-text-centered">
                                        {{ message }}
                                    </div>
                                </article>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

        <!-- need to add sections with different classes and containers in each template file!!! -->
        {% block content %}
        {% endblock %}

    <!-- footer -->
    <footer id="footer" class="footer footer_padding--less">
        <div class="level">
            <div class="level-item is-size-5 has-text-centered">
                    &copy; Copyright 2022 - Scott Boening.
            </div>
            <div class="level-item is-size-5 has-text-centered">
                <a class="navbar-item" href="{{ url_for('site_notice') }}">
                    Site Notice
                </a>
            </div>
            <div class="level-item is-size-5 has-text-centered">
                <a class="navbar-item" href="{{ url_for('privacy_policy') }}">
                    Privacy Policy
                </a>
            </div>
            <div class="level-item is-size-5 has-text-centered">
                <span class="mx-3">
                    <a href="http://www.twitter.com/scottboening" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-lg fa-twitter footer_social" aria-hidden="true"></i>
                        <span class="sr-only sr-only-focusable has-text-black">Twitter</span>
                    </a>
                </span>
                <span class="mx-3">
                    <a href="https://github.com/Ryagg" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-lg fa-github footer_social" aria-hidden="true"></i>
                        <span class="sr-only sr-only-focusable has-text-black">Github profile</span>
                    </a>
                </span>
            </div >
        </div>
    </footer>

    <script nonce="{{ csp_nonce() }}" src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <!--
    <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/mtiFontTrackingCode.js') }}"></script>
    -->
    {% block scripts %}
    {% endblock %}

</body>

</html>