{% extends "base.html" %}
{% block content %}
    <section class="hero is-fullheight-with-navbar">
            <div class="hero-head mt-5">
                <div class="container">
                    <h1 class="title is-1 has-text-centered mt-5 heading__text--shadow">Copyright and Licensing</h1>

                    <h2 class="title is-2 has-text-centered">Names, trademarks, and content licensing</h2>
                    <p class="is-size-5 mb-1">
                        Star Trek, Star Trek: The Animated Series, Star Trek: The Next Generation, Star Trek: Deep Space Nine, Star Trek:
                        Voyager, Star Trek: Enterprise, Star Trek: Discovery, Star Trek: Short Treks, Star Trek: Picard, Star Trek: Lower
                        Decks, Star Trek: Prodigy, and Star Trek: Strange New Worlds are all registered trademarks of CBS Corporation.
                        ST-Archive is in no way affiliated with or endorsed by CBS.
                    </p>

                    <p class="is-size-5 mb-1">
                        ST-Archive offers no suggestion that the work presented on this web page is "official" or produced or sanctioned by
                        the owner of the aforementioned trademarks. ST-Archive makes no claim to own Star Trek or any of the names related
                        to it. Images that are displayed on this site are copyrighted to Paramount Pictures for Star Trek, Star Trek: The
                        Animated Series, Star Trek: The Next Generation, Star Trek: Deep Space Nine, Star Trek: Voyager, Star Trek:
                        Enterprise, and to CBS Consumer Products for Star Trek: Discovery and Star Trek: Picard, in the case of book covers
                        and similar pictures.
                        Visitors may download any pictures displayed on this site for personal use, as long as they are not used for profit,
                        and proper credit is given.
                    </p>

                    <p class="is-size-5 mb-1">
                        ST-Archive uses content derived from <a href="http://memory-alpha.wikia.com/">Memory Alpha</a>, therefore it is safe
                        to assume that most of ST-Archive'a content is licensed under <a
                            href="https://creativecommons.org/licenses/by-nc/4.0/">
                            CC-BY-NC 4.0</a>. For details on Memory Alpha licensing see <a
                            href="http://memory-alpha.wikia.com/wiki/Memory_Alpha:Copyrights">
                            this link</a>.
                        ST-Archive also uses content from <a href="http://memory-beta.wikia.com/">Memory Beta</a>, therefore some parts of
                        the data is licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>. For
                        details on Memory Beta licensing see <a href="http://memory-beta.wikia.com/wiki/Memory_Beta:Copyrights">this
                            link</a>.
                    </p>

                    <p class="is-size-4">ST-Archive is intended for personal and non-profit use only.</p>
            </div>
        </div>
    </section>
{% endblock %}