{% extends "base.html" %}
{% block content %}

    <section class="hero hero_bg">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered hero_heading">{{ username.capitalize() }}'s Profile</h1>
                <div class=columns>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My favourite series
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item button" type="submitt">
                                    <span class="icon card_footer--kobe">
                                        <i class="fal fa-lg fa-edit"></i>
                                    </span>
                                    <span class="is-size-4 card_footer--kobe">Edit</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My favourite books
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item button" type="submitt">
                                    <span class="icon card_footer--kobe">
                                        <i class="fal fa-lg fa-edit"></i>
                                    </span>
                                    <span class="is-size-4 card_footer--kobe">Edit</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class=columns>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My wishlist
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item button" type="submitt">
                                    <span class="icon card_footer--kobe">
                                        <i class="fal fa-lg fa-edit"></i>
                                    </span>
                                    <span class="is-size-4 card_footer--kobe">Edit</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My reviews
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item button" type="submitt">
                                    <span class="icon card_footer--kobe">
                                        <i class="fal fa-lg fa-edit"></i>
                                    </span>
                                    <span class="is-size-4 card_footer--kobe">Edit</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    Books needed to complete my favourite series
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}