{% extends "base.html" %}
{% block content %}

    <section class="hero is-fullheight-with-navbar bg__img--starry-sky text__bg--transparent-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered hero_heading heading__text--shadow">{{ username.capitalize() }}'s Profile</h1>
                <!-- Favourite series -->
                <div class=columns>
                    <div class="column">
                        <div class="card card__box-shadow">
                            <header class="card-header hero_card">
                                <h2 class="card-header-title is-size-2 has-text-white-bis heading__text--shadow-blue">
                                    My favourite series
                                </h2>
                            </header>
                            <!-- card for each series -->
                            <div class="card-content card__bg--light">
                                <div class="content is-size-4">
                                    <div class="columns is-centered is-multiline">
                                        {% if favourites_series|length > 0 %}
                                            {% for show in favourites_series|sort(attribute="series_code") %}
                                                <div class="column is-4-tablet is-3-desktop mx-2 my-2 has-background-link-light card__shadow">
                                                    <h3 class="title is-3 has-text-centered">{{ show.series_name }}</h3>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Favourite books -->
                <div class=columns>
                    <div class="column">
                        <div class="card card__box-shadow">
                            <header class="card-header hero_card">
                                <h2 class="card-header-title is-size-2 has-text-white-bis heading__text--shadow-blue">
                                    My favourite books
                                </h2>
                            </header>
                            <!-- card for each book -->
                            <div class="card-content card__bg--light">
                                <div class="content is-size-4">
                                    <div class="columns is-centered is-multiline">
                                        {% if favourites_books|length > 0 %}
                                            {% for series in favourites_books|groupby("series_code") %}
                                                <div class="column is-4-tablet  is-3-desktop my-2 mx-2 has-background-link-light card__shadow">
                                                    <h3 class="title is-3 has-text-centered text__shadow--light">{{ series.grouper }}</h3>
                                                    <ul>
                                                        {% for book in series.list|sort(attribute="number") %}
                                                            <li class="li__icon--book">{{ book.title }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="is-size-4">You haven't added any favourites yet. </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Wish list -->
                <div class=columns>
                    <div class="column">
                        <div class="card card__box-shadow">
                            <header class="card-header hero_card">
                                <h2 class="card-header-title is-size-2 has-text-white-bis heading__text--shadow-blue">
                                    My wish list
                                </h2>
                            </header>
                            <!-- card for each book -->
                            <div class="card-content card__bg--light">
                                <div class="content is-size-4">
                                    <div class="columns is-centered is-multiline">
                                        {% if wishlist|length > 0 %}
                                            {% for series in wishlist|groupby("series_code") %}
                                                <div class="column is-4-tablet  is-3-desktop my-2 mx-2 has-background-link-light card__shadow">
                                                    <h3 class="title is-3 has-text-centered text__shadow--light">{{ series.grouper }}</h3>
                                                    <ul>
                                                        {% for book in series.list|sort(attribute="number") %}
                                                            <li class="li__icon--book">{{ book.title }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="is-size-4">You haven't added any books to your wishlist yet. </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Finished books -->
                <div class="columns">
                    <div class="column">
                        <div class="card card__box-shadow">
                            <header class="card-header hero_card">
                                <h2 class="card-header-title is-size-2 has-text-white-bis heading__text--shadow-blue">
                                    My finished books
                                </h2>
                            </header>
                            <!-- card for each book -->
                            <div class="card-content card__bg--light">
                                    <div class="content is-size-4">
                                        <div class="columns is-centered is-multiline">
                                            {% if finished_books|length > 0 %}
                                                {% for series in finished_books|groupby("series_code") %}
                                                    <div class="column is-4-tablet is-3-desktop my-2 mx-2 has-background-link-light card__shadow">
                                                        <h3 class="title is-3 has-text-centered">{{ series.grouper }}</h3>
                                                            <ul>
                                                                {% for book in series.list|sort(attribute="number") %}
                                                                    <li class="li__icon--book">{{ book.title }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <p class="is-size-4">You haven't marked any books as finished yet.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reviews -->
                <div class="columns">
                    <div class="column">
                        <div class="card card__box-shadow">
                            <header class="card-header hero_card">
                                <h2 class="card-header-title is-size-2 has-text-white-bis heading__text--shadow-blue">
                                    My reviews
                                </h2>
                            </header>
                            <!-- card for each review -->
                            <div class="card-content card__bg--light">
                                <div class="content is-size-4">
                                    <div class="columns is-centered is-multiline">
                                        {% if user_reviews|length > 0 %}
                                            {% for review in user_reviews|sort(attribute="book_series") %}
                                                <div class="column is-6-tablet  is-3-desktop my-2 mx-2 has-background-link-light card__shadow">
                                                    <h3 class="title is-4 text__shadow--light">{{ review.book_series }}: {{ review.book_title }}</h3>
                                                    <p class="is-size-4">{{ review.review_text }}</p>
                                                    <!-- Buttons for user actions -->
                                                    <div class="column">
                                                        <div class="field is-grouped">
                                                            <div class="control">
                                                                <a class="button shadow-dark form__button--bg-blue has-text-white"
                                                                    href="{{ url_for('edit_review', review_id=review._id) }}">Edit review</a>
                                                            </div>
                                                            <span class="button shadow-dark form__button--bg-orange has-text-white modal-button"
                                                                data-target="modal-card">Delete review</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- confirmation modal for review deletion -->
                                                <div id="modal-card" class="modal text__bg--transparent-dark">
                                                    <div class="modal-card">
                                                        <header class="modal-card-head has-text-centered card__bg--blue-dark">
                                                            <h3 class="modal-card-title is-size-3 has-text-white text__shadow--dark">Confirmation</h3>
                                                                <button class="delete is-large has-background-grey modal-header__close" aria-label="close"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <p class="is-size-3">
                                                                The review will be deleted from your profile and from the database.
                                                                Please click 'Delete review' to proceed or 'Cancel' to abort.
                                                            </p>
                                                        </section>
                                                        <footer class="modal-card-foot">
                                                            <div class="field is-grouped">
                                                                <div class="control">
                                                                    <a class="button shadow-dark form__button--bg-orange has-text-white"
                                                                        href="{{ url_for('delete_review', review_id=review._id) }}">Delete
                                                                        review</a>
                                                                </div>
                                                                <div class="control">
                                                                    <button class="button shadow-dark form__button--bg-blue has-text-white modal-footer__cancel">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="is-size-4">You haven't added any reviews yet. </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}