{% extends "base.html" %}
{% block content %}

    <section class="hero is-fullheight-with-navbar hero_bg">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered hero_heading">{{ username.capitalize() }}'s Profile</h1>
                <div class=columns>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My favourite series
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=columns>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My favourite books
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                        {% if favourites_books|length > 0 %}
                                            {% for series in favourites_books|groupby("series_code") %}
                                                <h3>{{ series.grouper }}</h3>
                                                    <ul>
                                                    {% for book in favourites_books.list|sort(attribute="number") %}
                                                        <li>{{ book.title }}</li>
                                                    {% endfor %}
                                                    </ul>
                                            {% endfor %}
                                        {% else %}
                                            <p class="is-size-4">You haven't added any favourites yet. </p>
                                        {% endif %}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=columns>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My wish list
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=columns>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My finished books
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>

                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class=columns>
                    <div class="column">
                        <div class="card">
                            <header class="card-header hero_card">
                                <p class="card-header-title is-size-3 has-text-white-bis">
                                    My reviews
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content is-size-4">
                                    <ul>
                                        {% if user_reviews|length > 0 %}
                                            {% for review in user_reviews|sort(attribute="book_series") %}
                                                <li>{{ review.book_series }}: {{ review.book_title }}</li>
                                                <p>{{ review.review_text }}</p>
                                                <div class="column">
                                                    <div class="field is-grouped">
                                                        <div class="control">
                                                            <a class="button is-link" href="{{ url_for('edit_review', review_id=review._id) }}">Edit review</a>
                                                        </div>
                                                        <span class="button is-link modal-button" data-target="modal-card">Delete review</span>
                                                    </div>
                                                </div>

                                                <div id="modal-card" class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-card">
                                                        <header class="modal-card-head">
                                                            <p class="modal-card-title">Confirmation</p>
                                                            <button class="delete modal-header__close" aria-label="close"></button>
                                                        </header>
                                                        <section class="modal-card-body">
                                                            <p class="is-size-3">
                                                                The review will be deleted from your profile and from the database. Please click 'Delete review' to proceed or cancel to abort.
                                                            </p>
                                                        </section>
                                                        <footer class="modal-card-foot">
                                                            <div class="field is-grouped">
                                                                <div class="control">
                                                                    <a class="button is-link" href="{{ url_for('delete_review', review_id=review._id) }}">Delete review</a>
                                                                </div>
                                                                <div class="control">
                                                                    <button class="button modal-footer__cancel">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </div>

                                            {% endfor %}
                                        {% else %}
                                            <p class="is-size-4">You haven't added any reviews yet. </p>
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}