{% extends "base.html" %}
{% block content %}

<section class="hero is-fullheight-with-navbar text--color-light bg__img--starry-sky">
    <div class="hero-body">
        <div class="container text_bg--transparent-darker">
            <h1 class="title is-1 has-text-weight-light has-text-centered hero_heading heading__text--shadow">Register</h1>
            <p class="is-size-4 has-background-info-light has-text-black px-3 mx-3 mb-4 card__border--groove">Register a free account to add series and/or books to your favourites, mark books as finished, add books to your wish list, and write reviews!</p>
            <ul class="is-size-4 has-background-info-light has-text-black px-3 mx-3 mb-4 card__border--groove">
                <li>All fields marked "required" must be completed.</li>
            </ul>
            <form class="form p-4" method="POST" action="{{ url_for('register') }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <!-- Username -->
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field">
                            <label for="username" class="is-size-4 has-text-weight-medium has-text-white">Username (required)
                                <span id="username-help" class="tooltip" aria-live="assertive" data-text="3 - 20 alphanumeric characters">
                                    <i class="far fa-fw fa-info-circle has-text-link pt-1 has-background-white-bis"></i>
                                </span>
                            </label>
                            <div class="control has-icons-left">
                                <input id="username" name="username" class="input is-link" type="text" minlength="3"
                                    maxlength="20" pattern="^[a-zA-Z0-9]{3,20}$" placeholder="Enter username" value=""
                                    aria-label="username" autofocus required>
                                <span class="icon is-left has-text-link">
                                    <i class="fal fa-lg fa-user-plus"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <!-- Password -->
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field">
                            <label for="password" class="is-size-4 has-text-weight-medium has-text-white">Password (required)
                                <span id="password-help" class="tooltip" aria-live="assertive" data-text="5 - 20 alphanumeric characters plus '!', '+', '-', '_'" >
                                        <i class="far fa-fw fa-info-circle has-text-link pt-1 has-background-white-bis"></i>
                                </span>
                            </label>
                            <div class="control has-icons-left">
                                <input id="password" name="password" class="input is-link" type="password" minlength="5"
                                    maxlength="20" pattern="^[a-zA-Z0-9!+-_.*]{5,20}$" placeholder="******" value=""
                                    aria-label="password" required>
                                <span class="icon is-left has-text-link">
                                    <i class="fal fa-lg fa-lock"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Email -->
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field">
                            <label for="email" class="is-size-4 has-text-weight-medium has-text-white">Email (required)</label>
                            <div class="control has-icons-left">
                                <input id="email" name="email" class="input is-link" type="email" minlength="10"
                                    maxlength="30" placeholder="you@mail.com" value="" aria-label="email"
                                    required>
                                <span id="user-email" aria-live="assertive"></span>
                                <span class="icon is-left has-text-link">
                                    <i class="fal fa-lg fa-at"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="button shadow-dark form__button--bg-blue has-text-white" type="submit" value="Submit">
                            </div>
                            <div class="control">
                                <button class="button shadow-dark form__button--bg-orange has-text-white" type="reset" value="Clear form">Clear form</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

{% endblock %}