{% extends "base.html" %}
{% block content %}

<section class="hero is-fullheight-with-navbar text--color-light bg__img--starry-sky">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 has-text-centered hero_heading heading__text--shadow">Register</h1>
            <p class="is-size-4 has-text-justified has-background-info-light has-text-black px-3 mb-4 card__border--groove">Register a free account to add series and/or books to your favourites, mark books as finished, add books to your wish list, and write reviews!</p>
            <ul class="is-size-4 has-text-justified has-background-info-light has-text-black px-3 mb-4 card__border--groove">
                <li>All fields marked "required" must be completed.</li>
                <li>You can't enter anything into the "Favourite series", "Favourite books", "Books in wish list", and
                    "Finished books"
                    fields. This is intentional. Data from your profile will be added there automatically later.</li>

            </ul>
            <form class="form" method="POST" action="{{ url_for('register') }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <!-- Username -->
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field">
                            <label for="username" class="is-size-4 has-text-weight-normal has-text-white">Username (required)</label>
                            <div class="control has-icons-left">
                                <input id="username" name="username" class="input is-link" type="text" minlength="3"
                                    maxlength="20" pattern="^[a-zA-Z0-9]{3,20}$" placeholder="Enter username" value=""
                                    aria-label="username" aria-described-by="user-username" autofocus required>
                                <span id="user-username" aria-live="assertive"></span>
                                <span class="icon is-left has-text-link">
                                    <i class="fal fa-lg fa-user-plus"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-centered">
                    <!-- Password -->
                    <!-- check pattern! -->
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field">
                            <label for="password" class="is-size-4 has-text-weight-medium has-text-white">Password (required)</label>
                            <div class="control has-icons-left">
                                <input id="password" name="password" class="input is-link" type="password" minlength="5"
                                    maxlength="20" pattern="^[a-zA-Z0-9!+-_.*]{5,15}$" placeholder="******" value=""
                                    aria-label="password" aria-described-by="user-password" required>
                                <span id="user-password" aria-live="assertive"></span>
                                <span class="icon is-left has-text-link">
                                    <i class="fal fa-lg fa-lock"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Email -->
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field">
                            <label for="email" class="is-size-4 has-text-weight-medium has-text-white">Email (required)</label>
                            <div class="control has-icons-left">
                                <input id="email" name="email" class="input is-link" type="email" minlength="12"
                                    maxlength="30" placeholder="you@mail.com" value="" aria-label="email"
                                    aria-described-by="user-email" required>
                                <span id="user-email" aria-live="assertive"></span>
                                <span class="icon is-left has-text-link">
                                    <i class="fal fa-lg fa-at"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Collections -->
                <div class="columns is-centered cards-container mt-3" id="sectioncontainer">
                    <div class="column">
                        <article class="message">
                            <div class="message-header hero_card">
                                <p class="subtitle is-4 has-text-white">Favourite series</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li class="is-size-5">leave empty</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="columns is-centered cards-container mt-3">
                    <div class="column">
                        <article class="message">
                            <div class="message-header hero_card">
                                <p class="subtitle is-4 has-text-white">Favourite books</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li class="is-size-5">leave empty</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="columns is-centered cards-container mt-3">
                    <div class="column">
                        <article class="message">
                            <div class="message-header hero_card">
                                <p class="subtitle is-4 has-text-white">Books in wish list</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li class="is-size-5">leave empty</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="columns is-centered cards-container mt-3">
                    <div class="column">
                        <article class="message">
                            <div class="message-header hero_card">
                                <p class="subtitle is-4 has-text-white">Finished books</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li class="is-size-5">leave empty</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="columns is-centered">
                    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                        <div class="field is-grouped">
                            <div class="control">
                                <input class="button is-link" type="submit" value="Submit">
                            </div>
                            <div class="control">
                                <button class="button is-danger" type="reset" value="Clear form">Clear form
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

{% endblock %}