{% extends "base.html" %}
{% block content %}

    <section class="hero is-fullheight-with-navbar bg__img--starry-sky">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered heading__text--shadow">Hello, {{ username.capitalize() }} </h1>
                <p class="subtitle is-2 has-text-centered text--color-light">
                    Thanks for adding your review!
                </p>

                <form class="form" method="POST" action="{{ url_for('add_review') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-weight-normal text--color-light" for="book_series">Book series (code)</label>
                                <div class="control">
                                    <input id="book_series" name="book_series" class="input is-size-4" type="text"
                                        value="{{ book_series }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-weight-normal text--color-light" for="book_title">Book title</label>
                                <div class="control">
                                    <input id="book_title" name="book_title" class="input is-size-4" type="text"
                                        value="{{ review_book }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="is-size-3 has-text-weight-normal text--color-light" for="review_text">Review</label>
                                <div class="control">
                                    <textarea id="review_text" name="review_text" class="textarea is-medium mb-4" type="text"
                                        placeholder="Write your review here" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="columns is-centered">
                        <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                            <div class="field is-grouped">
                                <div class="control">
                                    <input class="button is-link" type="submit" value="Submit">
                                </div>
                                <div class="control">
                                    <button class="button is-link" type="reset" value="Clear form">Clear form
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

{% endblock %}