{% extends "base.html.jinja" %}
{% block content %}

    <section class="hero is-fullheight-with-navbar text--color-light bg__img--starry-sky text__bg--transparent-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-centered has-text-weight-light mt-5 hero_heading heading__text--shadow">All reviews</h1>
                {% for show in series|sort(attribute="series_name") %}
                    <section id={{ show.series_code }} class="mb-5">
                        <!-- Series title -->
                        <div class="columns">
                            <div class="column is-three-fifths is-offset-one-fifth has-text-centered hero_card my-5 card__box-shadow--blue">
                                <h2 id="{{ show.series_name|replace(' ', '_') }}" class="title is-1 has-text-centered has-text-weight-light has-text-white my-4 text__shadow--dark">
                                    {{ show.series_name }}</h2>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="columns is-centered is-multiline">
                            {% if all_reviews|length > 0 %}
                                {% for review in all_reviews|sort(attribute="number") if review.book_series == show.series_code %}
                                    <div class="column">
                                        <div class="card mb-4 card__box-shadow">
                                            <header class="card-header">
                                                <h3 class="card-header-title is-size-3 has-text-weight-light">
                                                    {{ review.book_title }}
                                                </h3>
                                            </header>
                                            <div class="card-content card__bg--light">
                                                <p class="content is-size-4">
                                                    {{ review.review_text }}
                                                </p>
                                                <p class="subtitle is-size-4">
                                                    Review written by: {{ review.created_by }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="column">
                                        <p class="is-size-4 has-text-weight-medium mb-4 has-text-centered">No reviews yet.</p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="column">
                                    <p class="is-size-4 has-text-weight-medium mb-4 has-text-centered mb-4">No reviews yet.</p>
                                </div>
                            {% endif %}
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}