{% extends "base.html" %}
{% block content %}

<section class="hero is-fullheight-with-navbar bg__img--starry-sky">
    <div class="hero-body">
        <div class="container">
            <!-- Search bar -->
            <div class=columns>
                <div class="column">
                    <div class="card">
                        <div class="card-content card__bg--light">
                            <form class="form" method="POST" action="{{ url_for('search') }}">
                                <div class="columns is-centered">
                                    <div class="column is-10-tablet is-8-desktop">
                                        <div class="field">
                                            <label for="query" class="is-size-4 has-text-weight-normal mr-2">Search titles and blurbs
                                            </label>
                                            <div class="control has-icons-left">
                                                <input id="query" name="query" class="input is-link  mb-1" type="text" minlength="3"
                                                    placeholder="Enter query" value=""
                                                    aria-label="query" aria-described-by="user-query" required>
                                                <span id="user-query" aria-live="assertive"></span>
                                                <span class="icon is-left has-text-link">
                                                    <i class="fal fa-lg fa-file-search"></i>
                                                </span>
                                            </div>
                                            <button class="button is-link form__button--font-okuda is-size-5 has-text-weight-normal" type="submit">Search
                                            </button>
                                            <a class="button is-warning ml-3 is-size-5 has-text-weight-normal" href="{{ url_for('series') }}">Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                            <!-- Search results -->
                            <div class="column is-size-4 card__bg--light">
                                {% if result %}
                                    <ul>
                                    {% for entry in result %}
                                        <li class="is-size-3 ul__li--no-bullets">{{ entry["series_code"] }}: {{ entry["title"] }}</li>
                                        {{ entry["blurb"] }}
                                        <br>
                                    </ul>

                                    {% endfor %}
                                    <!-- Prevent text from being displayed if user hasn't searched for anything -->
                                {% elif result|length == 0 and request.path == "/search"%}
                                    <h3 class="has-text-centered">No Results Found</h3>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
            <h1 class="title is-1 has-text-centered hero_heading heading__text--shadow">Books sorted by series</h1>
            {% for show in series|sort(attribute="series_name") %}
            <section id="show.series_name">
                <!-- Series title -->
                <div class="columns is-centered">
                    <div class="column has-text-centered hero_card my-5">
                        <h1 id="{{ show.series_name }}" class="title is-1 has-text-centered has-text-white my-4 text__shadow--dark">{{
                            show.series_name }}</h1>
                        <a class="mb-5 button card__bg--blue-dark text--color-light" href="{{ url_for('add_fav_series', name=show.series_name) }}">
                            <span class="icon">
                                <i class="fal fa-star"></i>
                            </span>
                            <span class="is-size-4">Add series to Favourites</span>
                        </a>
                    </div>
                </div>
            </section> <!-- section series -->
            <!-- Books in series -->
            <div class="columns is-centered is-multiline">
                {% for book in books|sort(attribute="number") if book.series_code == show.series_code %}
                <div class="column is-6-tablet is-6-desktop my-2">
                    <div class="card card__box-shadow">
                        <div class="columns is-mobile">
                            <div class="column is-6 is-offset-3">
                            <div class="card-image card__box-shadow--blue">
                                <figure class="image is-2by3 has-background-primary-dark mt-3">
                                    <img src="{{ book.cover }}" alt="Book cover for {{ book.title }}">
                                </figure>
                            </div>
                        </div>
                        </div>
                        <div class="card-content card__bg--light">
                            <h2 class="title is-2">{{ book.title }}</h2>
                            {% if not book.number == "null" %}
                            <h3 class="subtitle is-3">Book number {{book.number}}</h3>
                            {% else %}
                            <h3 class="subtitle is-3">Unnumbered book</h3>
                            {% endif %}
                            <div class="book-list__info is-size-4">
                                <ul>
                                    <li>
                                        ebook
                                        <!-- needs the "equals true" or miniseries gets checked-->
                                        <!-- does work as intended for PIC and DIS, but not for the other series-->
                                        {% if book.e_book %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-check"></i>
                                            </span>
                                        {% else %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-times"></i>
                                            </span>
                                        {% endif %}
                                    </li>
                                    <li>
                                        paperbook
                                        {% if book.paper_book %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-check"></i>
                                            </span>
                                        {% else %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-times"></i>
                                            </span>
                                        {% endif %}
                                    </li>
                                    <li>
                                        audiobook
                                        {% if book.audio_book %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-check"></i>
                                            </span>
                                        {% else %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-times"></i>
                                            </span>
                                        {% endif %}
                                    </li>
                                    <li>
                                        part of miniseries
                                        {% if book.part_of_mini_series %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-check"></i>
                                            </span>
                                        {% else %}
                                            <span class="icon ml-2">
                                                <i class="fal fa-border fa-times"></i>
                                            </span>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <div class="content is-size-4 mt-2">
                                {{ book.blurb }}
                            </div>
                        </div>
                        <!-- Buttons for user actions -->
                        <footer class="card-footer has-background-link-dark">
                            <div class="buttons is-centered ml-4">
                                <div class="columns is-multiline">
                                    <div class="column is-narrow-tablet my-4">
                                        <div class="control">
                                            <a class="button card__bg--blue-dark text--color-light" href="{{ url_for('mark_book_as_finished', book_id=book._id) }}">Finished</a>
                                        </div>
                                    </div>
                                    <div class="column is-narrow-tablet my-4">
                                        <div class="control">
                                            <a class="button card__bg--blue-dark text--color-light"
                                                href="{{ url_for('add_book_to_favs', book_id=book._id) }}">Add to
                                                Favourites</a>
                                        </div>
                                    </div>
                                    <div class="column is-narrow-tablet my-4">
                                        <div class="control">
                                            <a class="button card__bg--blue-dark text--color-light" href="{{ url_for('add_book_to_wishlist', book_id=book._id) }}">Add to wish list</a>
                                        </div>
                                    </div>
                                    <div class="column is-narrow-tablet my-4">
                                        <div class="control">
                                            <a class="button card__bg--blue-dark text--color-light"
                                                href="{{ url_for('add_review', title=book.title) }}">Add review</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div> <!-- card -->
                </div> <!-- column book -->
                {% endfor %}
                <!-- don't move! -->
            </div> <!-- columns book -->
            {% endfor %}
            <!-- don't move! -->
        </div> <!-- container -->
    </div> <!-- hero body -->
</section> <!-- section hero -->
{% endblock %}