{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight-with-navbar bg__img--starry-sky text__bg--transparent-dark">
    <div class="hero-head mt-5">
        <div class="container px-2">
            <h1 class="title is-2 has-text-weight-light has-text-centered mt-5 heading__text--shadow">Site Notice</h1>

            <h2 class="subtitle is-3 has-text-weight-light has-text-centered has-text-white text__shadow--dark">
                Information
                pursuant to Sect. 5 German Telemedia Act (TMG)</h2>
            <div class="content is-size-4 mb-5 has-background-info-light has-text-black px-3 card__border--groove">
                <p class="mb-1">Scott Böning</p>
                <p class="mb-1">Färbergraben 6</p>
                <p class="mb-1">94469 Deggendorf</p>
                <p class="mb-1">Germany</p>
            </div>
            <h2 class="subtitle is-3 has-text-weight-light has-text-centered has-text-white text__shadow--dark">Contact
            </h2>
            <div class="content is-size-4 mb-1 has-background-info-light has-text-black px-3 card__border--groove">
                <p class="mb-1">Phone: +49 1523 2788911</p>
                <p class="mb-1">Telefax: +49 991 40861330</p>
                <p class="mb-1">E-mail: scott.boening@gmx.de</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}